.wrapper_info_div{
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.totalIncomeContainer{
    float: left;
    width: 20%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(163, 162, 162, 0.526);
    background-color: #ADF6B1;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
}

.inside_divider_income{
    height: 1px;
    width: 90%;
    background-color: black;
}

.totalSavedContainer{
    margin-left: 3.3%;
    width: 20%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(163, 162, 162, 0.526);
    background-color: #E9D985;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inside_divider_saved{
    height: 1px;
    width: 90%;
    background-color: black;
}

.totalInvestedContainer{
    margin-left: 3.3%;
    width: 20%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(163, 162, 162, 0.526);
    background-color: #92DCE5;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inside_divider_invested{
    height: 1px;
    width: 90%;
    background-color: black;
}

.totalExpensesContainer{
    margin-left: 3.3%;
    width: 20%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(163, 162, 162, 0.526);
    background-color: #FF4B3E;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inside_divider_expenses{
    height: 1px;
    width: 90%;
    background-color: black;
}