.divTables{
    width: 90%;
    height: auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(163, 162, 162, 0.526);
}

#tbldata{
    width: 100%;
    text-align: center;
    font-size: 21px;
    display: table;
}

#tblData th{
    width: 25%;
}

#tblData td{
    font-weight: 300;
}

#tblData tr{
    height: 80px;
}

.th_TimeRange{
    border-radius: 15px 0 0 0;
}

.th_Balance{
    border-radius: 0 15px 0 0;
}

#pSwitchTable{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pSwitchTable:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: .8s;
    color: blue;
}

#tblSavings{
    width: 100%;
    text-align: center;
    font-size: 21px;
    display: none;
}

#tblSavings th{
    width: 33%;
}

#tblSavings td{
    font-weight: 300;
}

#tblSavings tr{
    height: 80px;
}

.th_Invested{
    border-radius: 0 15px 0 0;
}